* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("./images/pexels-aleksandar-pasaric-325185.jpg");
	background-size: cover;
	background-position: center center;
}

#transparent-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	/* Semi-transparent container for legibility */
	background-color: rgba(189, 189, 182, 0.1);
	padding: 2rem;
	border-radius: 25px;
}

.weather-data-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.category-data-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: black;
	text-shadow: 1px 1px 2px white;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	position: absolute;
	bottom: 15px;
}
